.git
.gitignore
.dockerignore
.doppler
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
.DS_Store
dist
build
.next
out
.env
.env.*
*.local
weave-api/node_modules
weave-api/dist
weave-worker/node_modules
weave-worker/dist
weave-engine/node_modules
weave-engine/dist
packages/database/node_modules
web/node_modules
web/.next
web/out
discover/node_modules
discover/.next
discover/out
admin-console/node_modules
admin-console/.next
admin-console/out
weave-app/node_modules
weave-app/.next
weave-app/out
