# docker-compose.override.yml

# Para desenvolvimento local.
services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=development
    command: npm run dev
    develop:
      watch:
        - action: sync
          path: ./server
          target: /app
          ignore:
            - node_modules/

  web:
    build:
      context: ./web
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    command: npm run dev
    develop:
      watch:
        - action: sync
          path: ./web
          target: /app
          ignore:
            - node_modules/

  discover:
    build:
      context: ./discover
      dockerfile: Dockerfile.dev
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=development
    command: npm run dev
    develop:
      watch:
        - action: sync
          path: ./discover
          target: /app
          ignore:
            - node_modules/

  admin-console:
    build:
      context: ./admin-console
      dockerfile: Dockerfile.dev
    ports:
      - "3003:3003"
    environment:
      - NODE_ENV=development
    command: npm run dev
    develop:
      watch:
        - action: sync
          path: ./admin-console
          target: /app
          ignore:
            - node_modules/